= text_field_tag "query_word",
                 nil,
                 id: "to_search_form",
                 data: { url: direct_messages_to_search_path },
                 placeholder: "please input destination user."

ul#result.users
