ul#latest_dm_users.users
  - @latest_dm_users.each do |user|
    li data-url="#{direct_messages_index_path}" data-user-id="#{user.id}"
      | #{gravatar_for(user,size:40)} #{user.name} @#{user.unique_name}
