= link_to "Create DM", direct_messages_to_search_path, class: "btn btn-primary", remote: true
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p The quick brown fox jumps over the lazy dog
p LAST
