| $("#modal").remove();
| $("body").append($("<div>",{ 'id': 'modal' }));
| $("#modal").html("#{escape_javascript(render('direct_messages/index'))}");
/ zindex:1032はナビゲーションバーのz-index:1030(bootstrapのデフォルト値)より上にないと、スマホなどの狭い画面で
/ ナビゲーションバーの下にモーダルウィンドウが隠れてしまうのを回避するため。
/ 1032の理由は、ここのz-indexの値-1が、モーダルウィンドウを出したあとの背景オーバーレイのz-indexに適用される
/ ためである。1031にすると、ナビゲーションバーと背景オーバーレイが同じ1030になってしまい、背景オーバーレイの
/ 上にナビゲーションバーが出て、モーダルウィンドウを出していても、後ろのリンクが押せてしまう。
| $('#modal').iziModal({padding: 20, title:"Direct Message Users", top: 100, bottom: 50, zindex: 1032});
| $('#modal').iziModal('open');
