/ 変数modalはapp/views/layouts/_modal.html.slimで定義
| modal.iziModal('setTitle', "Direct Message Users" );
| modal.iziModal('setContent',"#{j(render('user_index'))}");

- render_data = j( render partial: 'modal_header_links', locals: { link_name: "create_dm" })
| $('.modal-header-link').remove();
| $('.iziModal-header-title').append("#{render_data}");

| if(modal.iziModal('getState') != 'opened') modal.iziModal('open');
